
/* custom css for tooltip effect */
.tooltip{
    position: relative;
    /* transition: .8s; */
}
.tooltip-text{
    visibility: hidden;
    background: teal;
    color: white;
    padding: 2px 8px;
    font-size: 15px;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
}
.tooltip:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}